<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IControlService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ws27sychss.office.gtt.gazprom.ru:9929/CalculationManager/ControlService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IControlService"
                contract="CMWebServiceReference.IControlService" name="NetTcpBinding_IControlService">
                <identity>
                    <userPrincipalName value="SychSS_adm@OFFICE.GTT.GAZPROM.RU" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>