<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="WatchFolder_Day" value="I:\CDS\ASTRA\TP7\TUM1\FILES\pzg.d??"/>
    <add key="WatchFolder_Hour" value="I:\CDS\ASTRA\TP7\TUM1\FILES\pzg.??"/>
    <add key="OutputFile" value="C:\TP7\TUM1\promdisp"/>
    <add key="DB" value="tom"/>
    <add key="Encoding" value="cp866"/>
  </appSettings>
</configuration>